<%= form_with(model: [@user, learning], local: true) do |form| %>
  <% if learning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(learning.errors.count, "error") %> prohibited this learning from being saved:</h2>

      <ul>
        <% learning.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @parent_id %>
    <%= form.hidden_field :parent_id, value: @parent_id %>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :learned_on %>
    <%= form.date_field :learned_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
